@charset 'UTF-8';

body {
  background-color: rgb(96, 96, 236);
  font-family: normal 15pt Arial, Helvetica, sans-serif;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: white;
  width: 500px;
  margin: auto;
  padding: 15px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.281);
  border-radius: 10px;
  text-align: center;
}

footer {
  color: white;
  text-align: center;
}
